[DEFAULT]
bantime  = {{ bantime_d }}
findtime = {{ findtime_d }}
maxretry = {{ maxretry_d }}

ignoreip = {{ ignoreip_d }}

# Advanced parameters
bantime.increment = {{ bantime_increment_d }}

[sshd]
enabled = {{ fail2ban_enabled_sshd }}

{% if enabled_recidive == true %}
[recidive]
enabled = true
bantime = {{ bantime_recidive }}
findtime = {{ findtime_recidive }}
maxretry = {{ maxretry_recidive }}
{% endif %}
